.menu{
    width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #0a0a0ac7;
}
#logo{

	margin: 20px;
	float: left;
	width: 100px;
	height: 40px;
	color: #fff;
	display: block;
	text-align:center;
	line-height: 40px;
}

nav {

	float: left;
	height: 40px;
	margin: 20px;

}

#menu-icon {
	display: none;
	width: 40px;
	height: 40px;
}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px

}

@media only screen and (max-width : 640px) {

	#menu-icon {
		display: block;
		position: fixed;
		top:20px;
		left: 20px;
		line-height: 40px;
		font-size: 150%;
	}

	a:hover#menu-icon {
		color:black;
		border-radius: 4px 4px 0 0;
	}
	#logo{
		width: 100%;
	}
	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 0px;
		background: #fff;
		border: 4px solid #444;
		left: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
		border-top: 2px solid #444;
		border-bottom: 2px solid #444;

	}

	nav:hover ul {

		display: block;

    }
}
.main{
	margin-top: 80px;
}