.userRoute{
	.title{
		text-align: center
	}
	
	#button-filter{
			
		width: 50px;
		height: 40px;
		display: none;
		text-align:center;
		line-height: 40px;
		float: left;
	}
	.filterBox{
		float: left;
	}
	.tdId{
		width: 10%;
	}
	.tdEmail, .tdUser, .tdButton{
		width: 30%;
	}
	
}
@media only screen and (max-width: 768px) {
	.userRoute{
		.title{
				text-align: left
		}
		.filter-title, .filterBox, .TooltipClass, thead{
				display: none;
		}
		#button-filter{
				display: block;
		}
		.button-addnew{
				text-align: right;
				width: calc(100% - 100px);
				float: right;
		}

		.show-filter:hover .addnew{
				display: none;
		}
		
		.show-filter:hover .filterBox{
				display: block;
		}
		.tdUser{
				width:40%;
		}
		.tdEmail, .tdId{
				display: none;
		}
		.tdButton{
				width: 50% !important;
		}
	}
}
